@charset "UTF-8";

nav h4 img{
    width: 200px;
    
}
nav {
    float: left;
    margin-left: 100px;
    text-align:justify;
}

p{
        letter-spacing: 1;
    text-align: justify;
    width: 300px;
}
mark{
    color:rgb(34, 0, 255);
    background-color: white;
}
#email span{
    font-size: 18px;
    letter-spacing: 2;
}
#email{
    margin-top: 20px;
    margin-left: 600px;
}





